<!-- <div *ngIf="name=='Pradeep' then thenBlock else elseBlock ">
  <h1>Welcome to tutorials.com website</h1>
</div> -->


<!-- <ng-template [ngIf]="isLogin" [ngIfElse]="elseBlock">
  <h1>Welcome to tutorials.com website</h1>
</ng-template>

<div [hidden]="!isLogin">
  <h1>Welcome to the greatest website </h1>
</div>

<ng-template #elseBlock>
  <h2>Please login</h2>
</ng-template>

<ng-template #thenBlock>
  <h1>Welcome back!!</h1>
</ng-template> -->


<!-- <select name="choice" id="" (change)="selectColor($event)">
  <option >Select color</option>
  <option value="red">Red</option>
  <option value="green">Green</option>
  <option value="yellow">Yellow</option>
</select>

<div [ngSwitch]="choice">
<h1 *ngSwitchCase="'red'">Red color selected</h1>
<h1 *ngSwitchCase="'yellow'">yellow color selected</h1>
<h1 *ngSwitchCase="'green'">Green color selected</h1>
<h1 *ngSwitchDefault>Please select color</h1>
</div> -->

<!-- <div *ngIf="isLoggedIn && userName=='admin' else notLoggedIn">
  <h1>User LoggedIn using and</h1>
</div>

<div *ngIf="isLoggedIn || userName=='admin'">
  <h1>User LoggedIn using or</h1>
</div>

<div *ngIf="score>=75">First positon</div>
<div *ngIf="score<75 && score>=60">second positon</div>
<div *ngIf="score<60">Failed</div>

<ng-template #notLoggedIn>
<h2>User not logged in</h2>
</ng-template> -->

<!-- <table border="1">
  <tr>
    <th>Sr no.</th>
    <th>Name</th>
    <th>Age</th>
    <th>Gender</th>
    <th>City</th>
    <th>Qualification</th>
  </tr>
  <tr *ngFor="let data of employee; let i=index;trackBy:getEmployeeRecord">
    <td>{{i+1}}</td>
  <td>{{data.name|custompipe:data.gender}}</td>
    <td>{{data.age|currency:'INR':true:'1.3-3'}}</td>
    <td>{{data.gender}}</td>
    <td>{{data.city|lowercase}}</td>
    <td>
      <div *ngFor="let d of data.qualification">
        {{d}}
      </div>
    </td>
  </tr>
</table><br> -->
<!-- <button (click)="loadMore()">Load more</button> -->
<!-- {{date|date:"short"}} -->
<!-- {{date|date|uppercase}}
{{title|slice:2:3}} -->
<!-- {{employee|json|uppercase}} -->

<!-- <a routerLink="/" >Home</a><br>
  <a routerLink="/login">Login</a><br>
  <a routerLink="/register">Register</a><br>
  <a routerLink="/profile">Profile</a><br>
  <button (click)="goToLogin()">Go to login</button>
  <router-outlet></router-outlet> -->

<!-- <h1>Welcome to tutorial website</h1>
<p>
  <ngb-alert [dismissible]="false">
    <strong>Warning!</strong> Better check yourself, you're not looking too good.
  </ngb-alert>
</p>
<p *ngFor="let alert of alerts">
  <ngb-alert [type]="alert.type" (closed)="close(alert)">{{ alert.message }}</ngb-alert>
</p>
<p>
  <button type="button" class="btn btn-primary" (click)="reset()">Reset</button>
</p> -->
<!-- <router-outlet></router-outlet> -->

<!-- <div class="col-md-6">
    <h1>Contact from</h1>
    <form [formGroup]="contactForm" class="form" >
      <div class="form-group">
        <input type="text" formControlName="yourname" placeholder="Enter your name" class="form-control" >
      </div>
      <div class="form-group">
        <input type="email" formControlName="email" placeholder="Enter your email" class="form-control" >

      </div>
      <div class="form-group">
        <input type="number" formControlName="mobile" placeholder="Enter your mobile number" class="form-control"  >

      </div>
      <div class="form-group">
        <input type="submit" name="Send" class="btn btn-secondary" (click)="postData()">
        <button class="btn btn-danger" (click)="setValue()">Set value</button>
      </div>
    </form>
  </div> -->
<!-- <h1>services in angular</h1>
  <h3>{{name}}</h3>
  <h3>{{email}}</h3>
  <h3>{{mobile}}</h3> -->


<!-- <h1>Singleton object</h1>
  <div style="text-align: center;">
  <app-agent1></app-agent1>
  <app-agent2></app-agent2>
  </div> -->

<style>
  th,
  td {
    border: 1px solid black;
  }
</style>
<!-- <table border="1">

  <tr>
    <th>id</th>
    <th>name</th>
    <th>username</th>
    <th>email</th>
    <th>street</th>
    <th>suit</th>
    <th>city</th>
    <th>zipcode</th>
    <th>latitude</th>
    <th>longitude</th>
  </tr>
  <tr *ngFor="let data of userData$ | async">
    <td>{{data.id}}</td>
    <td>{{data.name}}</td>
    <td>{{data.username}}</td>
    <td>{{data.email}}</td>
    <td>{{data.address.street}}</td>
    <td>{{data.address.suite}}</td>
    <td>{{data.address.city}}</td>
    <td>{{data.address.zipcode}}</td>
    <td>{{data.address.geo.lat}}</td>
    <td>{{data.address.geo.lng}}</td>
  </tr>
</table> -->


<!-- <a routerLink="/customer">Customer</a>
<a [routerLink]="[{outlets:{customerList:['customerdetails']}}]">Customer details</a>
<a [routerLink]="[{outlets:{customerOrder:['order']}}]">Order</a>
<router-outlet></router-outlet>
<router-outlet name="customerList"></router-outlet>
<router-outlet name="customerOrder"></router-outlet> -->


<!-- <h2 >Ng template in angular</h2>
<ng-template [ngIf]="display">
  <p>ng template rendering</p>
</ng-template>

<ng-template [ngFor] let-emp [ngForOf]="employees" let-i="index">
<p>{{i+1}} - {{emp.name}} - {{emp.email}}</p>
</ng-template>

<div [ngSwitch]="'developer'">
  <ng-template [ngSwitchCase]="'developer'">Persion is developer</ng-template>
  <ng-template [ngSwitchCase]="'designer'">Persion is designer</ng-template>
  <ng-template [ngSwitchCase]="'seo'">Persion is seo</ng-template>
</div> -->

<!-- <h2>ng-container</h2>
<ng-container *ngIf="display else loading">
  It is ng-container example
</ng-container>

<ng-template #loading>
  It is ng template
</ng-template> -->

<!-- <table border="1">
  <tr>
    <th>name</th>
    <th>
      email
    </th>
  </tr>
  <tr *ngFor="let emp of employees">
<ng-container *ngIf="emp.salary>10000">
  <td>{{emp.name}}</td>
  <td>{{emp.email}}</td>
</ng-container>
  </tr>
</table> -->

<!-- <ng-container *ngTemplateOutlet="loading; context:data">
  It's ng container loading
</ng-container>

<ng-template #loading let-mobile="phone">
  {{mobile}}
</ng-template> -->


<!-- <h1>Jquery in angular</h1>

<p>Demonstrate fadeIn() with different parameters.</p>

<button>Click to fade in boxes</button><br><br>

<div id="div1" style="width:80px;height:80px;display:none;background-color:red;"></div><br>
<div id="div2" style="width:80px;height:80px;display:none;background-color:green;"></div><br>
<div id="div3" style="width:80px;height:80px;display:none;background-color:blue;"></div> -->



<!-- <h2>@viewchild using template </h2>

<app-employee></app-employee> -->

<!-- <h2>@HostBinding() & @HostListner()</h2>
<h2 appStyleApp>Hostbinding</h2> -->



<!-- <h2>Cookie service</h2>
<h3>How to install</h3>
<h3>How to set</h3>
<button (click)="storeCookie()">Set cookie</button> -->


<h2>ViewProviders</h2>
<h3>App component salary : {{randomSalary}}</h3>

<!-- <h3><app-parent-component></app-parent-component></h3> -->
<br><br><br><br>
<app-parent-component>
  <h3>Injected data</h3>
<app-child-component>
</app-child-component>
</app-parent-component>